# .env.example  (users: cp .env.example .env && edit paths)

# Required roots: UPDATE THESE!
BOOST_INSTALL_DIR=deps/install/boost
GUROBI_HOME=deps/install/gurobi/linux64
LIBTORCH_INSTALL_DIR=deps/install/libtorch
Z3_HOME=deps/install/z3